@font-face {
  font-family: 'Futurama';
  src: url('../../fonts/fr-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturamaTitle';
  src: url('../../fonts/fr-bold.ttf') format('truetype');
}
.App {
  font-family: 'Futurama';
  font-size: 0.9rem;
}

.loading-img {
  width: 100%;
}
